.header{
  width: 100%;
  max-width: 100%;
  background-color: #191A19;
  height: 158px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  max-width: 280px;
  height: 44px;
}

.navigation ul{
  display: flex;
  gap: 24px;
}

.nav a{
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color:#FFFFFF ;
  transition: color 0.2s;
}

.nav a:hover{
color: #FF7420;
border-bottom: 2px solid #FF7420;
}

.button{
  background-color: #FF7420;
  border: none;
  border-radius: 15px;
  width: 194px;
  height: 66px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.and2{
  background-color: transparent;
}

.burger-menu{
  display: none;
}

@media (max-width: 1024px){
.header{
  height: 100px;
}
  .navigation{
    display: none;
  }

  .logo img{
    width: 250px;

  }

  .logo a{
    order: 2;
  }

  .burger-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    width: 60px;
    height: 40px;
    background-color: #FF7420;
    border-radius: 8px;
    cursor: pointer;
    order: 1;
  }
   .burger-menu span{
    background-color: #FFFFFF;
    width: 20px;
    height: 2px;
  }

   .buttons{
    order: 3;
    display: flex;
    width: 200px;
  }

  .button{
    font-size: 15px;
  }
}

@media (max-width: 744px) {
.logo a{
  order: 1;
}

.logo img{
 max-width: 180px;
}

.burger-menu{
  order: 2;
}

.buttons .navigation{
  display: none;
}

.button{
  width: 120px;
  font-size: 14px;
}

}

.img img{
  width: 100%;
 display: block;

}

.text-wrapper{
  position: absolute;
  top: 40%;
left: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.img-section-wrapper{
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
  padding-bottom: 10px;
}

.highlight{
  color: #FF7420;
}

.text{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.onpic1{
  width: 246px;
}

.onpic{
 width: 208px;
 background-color: #FFFFFF;
 color: #191A19;
}

@media (max-width: 1024px){
  .title{
    font-size: 45px;
  }

  .text{
    font-size: 14px;
  }

  .onpic1{
    width: 220px;
    height: 60px;
  }

  .onpic{
    width: 170px;
    height: 60px;
  }

  .img img{
    width: 100%;
    max-width: 1024px;
  }

  .text-wrapper{
 
  top: 35%;
left: 40px;
}
}

@media (max-width: 744px){
  .title{
    font-size: 30px;
  }

  .text{
    font-size: 10px;
  }

  .onpic1{
    width: 130px;
    height: 50px;
  }

  .onpic{
    width: 110px;
    height: 50px;
  }

  .text-wrapper{
  
  top: 20%;
left: 30px;
}
}

.section2{
  width: 100%;
  height: max-content;
  background-color: #FF7420;
}

.upper-section2{
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.navigation2 ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
}

.nav-section{
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
  transition: 0.2s;
}

.nav-section:hover{
color: #191A19;
border-bottom: 2px solid #191A19;
}

.section2-title{
  color: #191A19;
}

@media (max-width: 1024px){
  .navigation2{
    display: none;
  }

  .upper-section2{
    display: flex;
    align-items: center;
  }
    .burger-menu2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    width: 300px;
    height: 70px;
    background-color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    order: 2;
    }
    .section2-title{
  font-size: 52px;
  order: 1;
}

}
 
.burger-menu2 span{
    background-color: #191A19;
    width: 50px;
    height: 5px;
  }

  @media (max-width: 748px) {
    .navigation2{
    display: none;
  }
  
  .burger-menu2{
    width: 200px;
    height: 45px;
  }

  .section2-title{
  font-size: 35px;
  }

  }

  .buildings-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
  }

  .towers img{
    width: 100%;
    max-width: 485px;
  }

  .textes{
    position: absolute;
    top: 83%;
    
  }



  @media (max-width:1024px){
    .towers img{
    max-width: 300px;
  }

  
  }

  @media (max-width:748px){
    .towers img{
      max-width: 250px;
    }

    .buildings-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
   
  }
  }

  .section3{
    background-color: #191A19;
    width: 100%;
    height: max-content;
  }

  .section3-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Client{
    color: #FF7420;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    padding: 28px;
  }

  .description{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    max-width: 900px;
    padding-bottom: 25px;
  }

  @media(max-width:1024px){
    .Client{
      font-size: 20px;
    }
    .description{
      font-size: 15px;
      line-height: 1.3;
      text-align: center;
      max-width: 600px;
    }
  }

  @media(max-width: 748px){
    .Client{
      font-size: 15px;
    }

     .description{
      font-size: 12px;
      line-height: 1.1;
      text-align: center;
      max-width: 400px;
    }
  }

  .section4{
    background-color: #191A19;
  }

 

  .section4-div-wrapper{
    display: flex;
  gap: 10px;
  align-items: stretch;
  }

  .right-div, .left-div{
    background-color: #FF7420;
    padding: 40px;
    border-radius: 20px;
    color: #FFFFFF;
    min-height: 200px;
  }

  .section4-title{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    align-items: center;
    margin-bottom: 50px;
  }

  .submit-button, .contact-button {
  background-color: #191A19; 
  color: white;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 15px;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;

}

.headline{
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.info{
  color: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
 
}

.section4-desc{
  padding-bottom:10px;
}

.contacts input,
.contacts select,
.contacts textarea {
  width: 220px;
  padding: 18px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: #191A19;
  background-color: #FFFFFF;
}

.contacts textarea{
  resize: none;
  height: 130px;
  width: 450px;
}


@media (max-width: 1024px){
  

  .section4-div-wrapper { 
    gap: 10px;

  }

  .right-div, .left-div {
    width: 300px; 
  }

  .section4-title {
    font-size: 28px;
    margin-bottom: 30px;
  }

   .submit-button, .contact-button{
    width: 300px;
  border-radius: 15px;
  font-weight: 300;
  font-size: 15px;

   }

   .contacts textarea{
  resize: none;
  height: 100px;
  width: 250px;
}
}


@media (max-width: 748px){
  

  .section4-div-wrapper { 
    flex-direction: column;
    gap: 10px;

  }

  .right-div, .left-div {
    width: 500px; 
  }

  .section4-title {
    font-size: 23px;
    margin-bottom: 20px;
  }

   .submit-button, .contact-button{
    width: 200px;
  font-weight: 300;
  font-size: 10px;

   }

   .contacts textarea{
  resize: none;
  height: 80px;
  width: 150px;
}
}