.header{
  width: 100%;
  max-width: 100%;
  background-color: #191A19;
  height: 158px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  max-width: 280px;
  height: 44px;
}

.navigation ul{
  display: flex;
  gap: 24px;
}

.nav a{
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color:#FFFFFF ;
  transition: color 0.2s;
}

.nav a:hover{
color: #FF7420;
border-bottom: 2px solid #FF7420;
}

.button{
  background-color: #FF7420;
  border: none;
  border-radius: 15px;
  width: 194px;
  height: 66px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.and2{
  background-color: transparent;
}

.burger-menu{
  display: none;
}

@media (max-width: 1024px){
.header{
  height: 100px;
}
  .navigation{
    display: none;
  }

  .logo img{
    width: 250px;

  }

  .logo a{
    order: 2;
  }

  .burger-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    width: 60px;
    height: 40px;
    background-color: #FF7420;
    border-radius: 8px;
    cursor: pointer;
    order: 1;
  }
   .burger-menu span{
    background-color: #FFFFFF;
    width: 20px;
    height: 2px;
  }

   .buttons{
    order: 3;
    display: flex;
    width: 200px;
  }

  .button{
    font-size: 15px;
  }
}

@media (max-width: 744px) {
.logo a{
  order: 1;
}

.logo img{
 max-width: 180px;
}

.burger-menu{
  order: 2;
}

.buttons .navigation{
  display: none;
}

.button{
  width: 120px;
  font-size: 14px;
}

}

.img img{
  width: 100%;
 display: block;

}

.text-wrapper{
  position: absolute;
  top: 40%;
left: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.img-section-wrapper{
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
  padding-bottom: 10px;
}

.highlight{
  color: #FF7420;
}

.text{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.onpic1{
  width: 246px;
}

.onpic{
 width: 208px;
 background-color: #FFFFFF;
 color: #191A19;
}

@media (max-width: 1024px){
  .title{
    font-size: 45px;
  }

  .text{
    font-size: 14px;
  }

  .onpic1{
    width: 220px;
    height: 60px;
  }

  .onpic{
    width: 170px;
    height: 60px;
  }

  .img img{
    width: 100%;
    max-width: 1024px;
  }
}

@media (max-width: 744px){
  .title{
    font-size: 30px;
  }

  .text{
    font-size: 10px;
  }

  .onpic1{
    width: 130px;
    height: 50px;
  }

  .onpic{
    width: 110px;
    height: 50px;
  }
}